body {
  font-family: Arial, sans-serif;
  background-color: #f7f2f2e3;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

#registroForm {
  background-color: #c2bbbb;
  padding: 25px;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 1 1 10px black;
}

label {
  display: block;
  margin-bottom: 5px;
}

label.inline {
  display: inline-block;
}

input,
select {
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-top: 15px;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
  width: 100%;
}
input[type="submit"] {
  background-color: #969e97;
  color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 7px;
  width: 100%;
  transition: 0.5s ease;
}

input[type="submit"]:hover {
  background-color: #7a827a;
}

.error {
  color: red;
  font-size: 10px;
}
